.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;

  input,
  textarea,
  select {
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    outline: none;
    text-align: center;
    font-size: 16px;
  }

  select {
    width: 330px;
  }
}
