.landing-wrapper {
  .landing-content-1 {
    position: relative;
    background-image: url("../src/Assets/jobpicture.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 80px;

    .green-text {
      color: var(--primary-green);
    }
    .gray-text {
      color: rgb(144, 141, 141);
    }

    h1,
    p {
      margin: 20px 80px;
      width: 300px;
    }

    p {
      width: 500px;
    }
  }

  .landing-content-2 {
    background-color: #eff6f2;
    padding: 25px;

    .box {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 20px;
      margin: 20px 0;
    }
  }

  .landing-content-3 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 15px 35px;
  }

  .viewmore-button {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
}
