.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-green);
  padding: 8px;
  box-sizing: border-box;
  width: 100%;

  .name {
    font-size: 20px;
    font-weight: bold;
  }

  .right {
    display: flex;
    gap: 10px;
  }
}
