.jobsList-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .name-jobsList {
    background-color: rgb(238, 236, 236);
    text-align: center;
    font-size: 1.25rem;
    color: black;
    margin-top: 0px;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }
}
