.box-wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(150px, 1fr));

  .background-image {
    text-align: center;
    background-color: white;
    margin: 10%;
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightblue;
    margin: 15%;
  }

  .icon {
    align-items: center;
    display: flex;
  }

  .text {
    margin: 10px;
  }
}

.button3 {
  margin: 80px 40px;
}
