@import "./Components/Navbar/navbar";
@import "./Components/Button/button";
@import "./Components/Input/input";
@import "./Screens/Login/login";
@import "./Screens/Register/register";
@import "./Screens/Landing/landing";
@import "./Components/SearchBar/searchBar";
@import "./Components/Box/box";
@import "./Components/JobComponent/jobComponent";
@import "./Components/Footer/footer";

body {
  margin: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  text-align: center;
  margin: 0px;
  padding: 20px;
}

:root {
  font-size: 16px;
  --primary-green: rgb(62, 162, 105);
}
